//カラー設定

//カラーコンセプト
$main: #683eff;
$sub: #beb1e6;
$base: #fdfdfe;
$accent: #ff3e71;
$font_color: #403761;
$bg_event: #f5f5ff;

//カレンダー内部のカラー
$saturday_color: #1677ff;
$sunday_color: #fe3b30;

//予定ラベル
$category_work: #f67fc8;
$category_events: #45d758;
$category_school: #a8acbd;
$category_jobHunting: #4bccff;
$category_birthday: #edc511;
$category_goOn: #ff774a;
