.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FDFDFE;
  color: white;

  
  &__button {
    background: none;
    border: none;
    color: #BEB1E6;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
    
    &.active {
      color: #683EFF; // Active button color
    }

    // &:hover {
    //   color: #ff9a8b; // Hover effect color
    // }
  }

  &__buttonsMiddle {
    display: flex;            // フレックスコンテナを指定
    gap: 20px;                // ボタン間に20pxの隙間を指定
    justify-content: center;  // 中央揃え
  }
}
