@import "../styles/color.scss";

.calenderContainer {
  margin: 80px 0 0 0;
  width: 100vw;
  height: 626px;

  .weekdays {
    font-size: 0.5em;
    font-weight: bold;
    padding: 12px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .weekday {
      display: flex;
      justify-content: center;
    }
  }

  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .date {
      height: 125px;
      border: 0.35px #edeaf5 solid;
      box-shadow: 0 0 2px rgba(122, 119, 128, 0.25);
    }
    .dateOut {
      background-color: #f6f6f9;
    }
  }
}
